fastapi[all]
uvicorn
sqlalchemy
alembic
pydantic
pydantic-settings
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
celery
redis
aioredis
aiokafka
Pillow
fastapi-mail
slowapi
bcrypt
websockets
meilisearch
